.player {
  display: flex;
  flex-direction: column;
}

.player__body {
  display: flex;
  flex-grow: 1;
}

/* ----------------------------sidebar------------------------------- */
.sidebar {
  height: 100vh;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  background-color: #040404;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }
  
/*----------------------------------- body--------------------------- --*/
.body {
  padding: 30px;
  flex: 0.8;
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
}

/*--------------------------- footer ----------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #b3b3b3;
  /* background-color: #282828; */
  padding: 20px;
}
